* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

header h1 {
    font-size: 2em;
    color: #222;
    margin: 0 0 15px 0;
}

nav {
    margin: 10px 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
    margin-right: 15px;
    padding: 5px;
}

nav a:hover {
    background-color: black;
    color: white;
}

main {
    margin: 20px;
    padding: 0;
}

section {
    margin: 0 0 30px 0;
    padding: 0;
}

section h2 {
    font-size: 1.5em;
    color: #222;
}

img {
    width: 1000px;
    height: 750px;
    margin: 10px auto; 
    display: block;
}

p {
    font-size: 1em;
}

ul {
    font-size: 1em;
    padding-left: 20px;
}

table {
    width: 1000px;
    border-collapse: collapse;
    margin: 10px auto;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    text-align: left;
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

footer p {
    text-align: center;
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}